<!DOCTYPE html>
<html>
  <head>
    <title>Sell Me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container-fluid">
      <div class="navbar-header navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse navbar-fixed-top" id="myNavbar">
        <ul class="nav navbar-nav ">
          <li class="active">
            <%= link_to 'Home', root_path %>

          </li>
          <li>
            <%= link_to 'Products', products_path %>
          </li>
          <li>
            <%= link_to 'Sell', new_product_path %>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right  ">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-user">
                <%   if @current_user.present? %>
                  <%= link_to "Sign out #{ @current_user.email} ", login_path, :method => 'delete' %>
                <% else  %>
                  <%= link_to 'Sign up', new_user_path %>
                  <%= link_to 'Log in ', login_path %></span>


                  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
              <% end %>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </nav>

  <body>

    <%= yield %>




  </body>
</html>
